*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  width: 600px;
  margin: 50px auto;
  /* text-align: center; */
}

.color-area{
  display: flex;
  justify-content: space-between;
}

.backgroundContainer{
  display: flex;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box{
  width: 100%;
  height: 108px;
  border: 1px solid black;
  transition-duration: 0.5s;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.width{
  display: flex;
 
}

.height{
  display: flex;
 
}


.fontSize{
  display: flex;
 
}

.fontBord{
  display: flex;
 
}


.textContainer{
  display: flex;
}

.backgroundContainer{
  display: flex;
}

.firstRow{
  display: flex;
}

.secondRow{
  display: flex;
}

.thirdRow{
  display: flex;
}

.fourthRow{
  justify-content: flex-start;
  align-items: center;

  display: flex;
}

.color-input{
  width: 100%;
  height: 20px;
}

#changeButton{
  width: 80%;
  margin-top: 10px;
  background-color: white;
  border : 2px solid pink;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#changeButton:hover{
  color : white;
  background-color: pink;
}

#changeButton:active{
  border: 2px solid black;
}
